@{
    ViewBag.Title = "Başlangıç";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @Html.Action("CategoryProducts", "Dashboard")

        @Html.Action("PersonnelDepartment", "Dashboard")
    </div>
    <div class="col-md-6">
        @Html.Action("CustomerCity", "Dashboard")

        @Html.Action("BrandProducts", "Dashboard")
    </div>
</div>

@Html.Action("Customers", "Dashboard")

@Html.Action("Products", "Dashboard")