@model MvcOnlineTicariOtomasyon.Models.Cari
@{
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h1 class="mt-4">Cari Bilgileri</h1>

@using (Html.BeginForm("Index", "CariPanel", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Cari Mail</label>
                <input type="text" name="@Model.CariMail" value="@HttpContext.Current.User.Identity.Name" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.CariAd)
                @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.CariSoyad)
                @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.CariSehir)
                @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.CariSifre)
                @Html.PasswordFor(x => x.CariSifre, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Bilgilerimi Güncelle</button>
}