<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.title | Online Ticari Otomasyon</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("Partials/_StyleSheets")

</head>

<body class="hold-transition skin-green sidebar-mini">

    <div class="wrapper">

        @Html.Partial("Partials/_MainHeader")

        @Html.Partial("Partials/_MainSidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>@ViewBag.title</h1>
            </section>

            <section class="content container-fluid">

                @RenderBody()

            </section>
        </div>

        @Html.Partial("Partials/_MainFooter")

        @Html.Partial("Partials/_ControlSidebar")

        <div class="control-sidebar-bg"></div>

    </div>

    @Html.Partial("Partials/_Scripts")

</body>
</html>