@model MvcOnlineTicariOtomasyon.Models.Siniflar.Fatura
@{
    ViewBag.Title = "Fatura Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Fatura/Index" class="btn btn-success btn-sm">Fatura Listesi</a>
                </div>
            </div>

            <div class="box-body">
                @using (Html.BeginForm("Edit", "Fatura", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.FaturaID)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.FaturaSeriNo)
                                @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.FaturaSiraNo)
                                @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Tarih)
                                @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Saat)
                                @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.VergiDairesi)
                                @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TeslimEden)
                                @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TeslimAlan)
                                @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Güncelle</button>
                }
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>