@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Fatura>
@{
    ViewBag.Title = "Faturalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Fatura/Create" class="btn btn-success">Fatura Ekle</a>
                </div>
            </div>
           
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">ID</th>
                                <th>Seri No</th>
                                <th>Sıra No</th>
                                <th>Vergi Dairesi</th>
                                <th>Tarih</th>
                                <th>Saat</th>
                                <th>Toplam</th>
                                <th>Teslim Eden</th>
                                <th>Teslim Alan</th>
                                <th class="text-center" style="width: 15%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.FaturaID</td>
                                    <td>@item.FaturaSeriNo</td>
                                    <td>@item.FaturaSiraNo</td>
                                    <td>@item.VergiDairesi</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Saat</td>
                                    <td>@item.Toplam</td>
                                    <td>@item.TeslimEden</td>
                                    <td>@item.TeslimAlan</td>
                                    <td class="text-center">
                                        <a href="/Fatura/Details/@item.FaturaID" class="btn btn-info btn-sm">Detaylar</a>
                                        <a href="/Fatura/Edit/@item.FaturaID" class="btn btn-primary btn-sm">Düzenle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
           
            <div class="box-footer"></div>
   
        </div>
    </div>
</div>