@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Satışlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">

                </div>
            </div>

            <div class="box-body">

            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-12">
        <a href="/Satis/Create" class="btn btn-success float-left mb-3">Yeni Satış Yap</a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="satislar" style="width: 100% !important;">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">ID</th>
                        <th>Ürün</th>
                        <th>Cari</th>
                        <th>Personel</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                        <th>Toplam</th>
                        <th>Tarih</th>
                        <th class="text-center" style="width: 15%">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.SatisID</td>
                            <td>@item.Urun.UrunAd</td>
                            <td>@item.Cari.CariAd @item.Cari.CariSoyad</td>
                            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
                            <td>@item.Adet</td>
                            <td>@item.Fiyat</td>
                            <td>@item.ToplamTutar</td>
                            <td>@item.Tarih</td>
                            <td class="text-center">
                                <a href="/Satis/Details/@item.SatisID" class="btn btn-info btn-sm">Detaylar</a>
                                <a href="/Satis/Edit/@item.SatisID" class="btn btn-primary btn-sm">Düzenle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js"></script>

<script>
    var table = $('#satislar').dataTable();
</script>