@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row my-4">
    <div class="col-md-12">
        <a href="/Urun/Create" class="btn btn-success float-left mb-3">Ürün Ekle</a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">ID</th>
                        <th>Ürün Adı</th>
                        <th>Kategori</th>
                        <th>Marka</th>
                        <th>Stok</th>
                        <th>Alış Fiyat</th>
                        <th>Satış Fiyat</th>
                        <th>Görsel</th>
                        <th>Durum</th>
                        <th class="text-center" style="width: 15%">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">@item.UrunID</td>
                        <td>@item.UrunAd</td>
                        <td>@item.Kategori.KategoriAd</td>
                        <td>@item.Marka</td>
                        <td>@item.Stok</td>
                        <td>@item.AlisFiyat</td>
                        <td>@item.SatisFiyat</td>
                        <td>@item.UrunGorsel</td>
                        <td>@item.Durum</td>
                        <td class="text-center">
                            <a href="/Urun/Edit/@item.UrunID" class="btn btn-primary btn-sm">Düzenle</a>
                            <a href="/Urun/Delete/@item.UrunID" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>