@using MvcOnlineTicariOtomasyon.Models
@model List<Urun>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Urun/Create" class="btn btn-success btn-sm">Ürün Ekle</a>
                </div>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">ID</th>
                                <th>Ürün Adı</th>
                                <th>Kategori</th>
                                <th>Marka</th>
                                <th>Stok</th>
                                <th>Alış Fiyat</th>
                                <th>Satış Fiyat</th>
                                <th class="text-center" style="width: 120px;">Görsel</th>
                                <th>Durum</th>
                                <th class="text-center" style="width: 15%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.UrunID</td>
                                    <td>@item.UrunAd</td>
                                    <td>@item.Kategori.KategoriAd</td>
                                    <td>@item.Marka</td>
                                    <td>@item.Stok</td>
                                    <td>@item.AlisFiyat</td>
                                    <td>@item.SatisFiyat</td>
                                    <td class="text-center">
                                        <img src="@item.UrunGorsel" alt="" class="img-responsive" />
                                    </td>
                                    <td>@item.Durum</td>
                                    <td class="text-center">
                                        <a href="/Urun/Edit/@item.UrunID" class="btn btn-primary btn-sm">Düzenle</a>
                                        <a href="/Urun/Delete/@item.UrunID" class="btn btn-danger btn-sm">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>