@{
    ViewBag.Title = "İstatistik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text-center">
    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #1abc9c;">
            <div class="inner">
                <h3>@ViewBag.cari_sayisi</h3>
                <p>Toplam Cari</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #3498db;">
            <div class="inner">
                <h3>@ViewBag.urun_sayisi</h3>
                <p>Ürün Sayısı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #9b59b6;">
            <div class="inner">
                <h3>@ViewBag.personel_sayisi</h3>

                <p>Personel Sayısı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #2ecc71;">
            <div class="inner">
                <h3>@ViewBag.kategori_sayisi</h3>

                <p>Kategori Sayısı</p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #f1c40f;">
            <div class="inner">
                <h3>@ViewBag.stok_sayisi</h3>
                <p>Stok Sayısı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #e67e22;">
            <div class="inner">
                <h3>@ViewBag.marka_sayisi</h3>
                <p>Marka Sayısı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #e74c3c;">
            <div class="inner">
                <h3>@ViewBag.kritik_stok_seviye</h3>

                <p>Kritik Stok Sayısı</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">

        <div class="small-box" style="background-color: #95a5a6;">
            <div class="inner">
                <h3>@ViewBag.toplam_tutar</h3>

                <p>Toplam Tutar</p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
        <div class="col-lg-3 col-xs-6">

            <div class="small-box" style="background-color: #4bcffa;">
                <div class="inner">
                    <h3>@ViewBag.bugun_satis_sayisi</h3>
                    <p>Bugün Satış Sayısı</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">

            <div class="small-box" style="background-color: #ffcccc">
                <div class="inner">
                    <h3>@ViewBag.bugun_toplam_tutar</h3>
                    <p>Bugün Toplam Tutar</p>
                </div>
            </div>
        </div>

        @*<div class="col-lg-3 col-xs-6">

            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.kritik_stok_seviye</h3>

                    <p>Kritik Stok Sayısı</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">

            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.max_fiyat_urun.Substring(0, 7) ...</h3>

                    <p>Max Fiyatlı Ürün</p>
                </div>
            </div>
        </div>*@
    </div>