@model MvcOnlineTicariOtomasyon.Models.Personel
@{
    ViewBag.Title = "Personel Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Personel/Index" class="btn btn-success btn-sm">Personel Listesi</a>
                </div>
            </div>

            <div class="box-body">
                @using(Html.BeginForm("Create", "Personel", FormMethod.Post, new { enctype= "multipart/form-data" }))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PersonelAd)
                                @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PersonelSoyad)
                                @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PersonelGorsel)
                                @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
                                <input type="file" name="PersonelGorsel" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Departman.DepartmanID)
                                @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.departmanlar, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Kaydet</button>
                }
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>