@using MvcOnlineTicariOtomasyon.Models
@model List<Personel>
@{
    ViewBag.Title = "Personel Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Personel/Create" class="btn btn-success btn-sm">Personel Ekle</a>
                </div>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">ID</th>
                                <th>Personel Adı</th>
                                <th>Personel Soyadı</th>
                                <th style="width: 120px;">Görsel</th>
                                <th>Departman</th>
                                <th class="text-center" style="width: 20%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.PersonelID</td>
                                    <td>@item.PersonelAd</td>
                                    <td>@item.PersonelSoyad</td>
                                    <td class="text-center">
                                        <img src="@item.PersonelGorsel" class="img-responsive" />
                                    </td>
                                    <td>@item.Departman.DepartmanAd</td>
                                    <td class="text-center">
                                        <a href="/Departman/PersonelSales/@item.PersonelID" class="btn btn-info btn-sm">Satışlar</a>
                                        <a href="/Personel/Edit/@item.PersonelID" class="btn btn-primary btn-sm">Düzenle</a>
                                        <a href="/Personel/Delete/@item.PersonelID" class="btn btn-danger btn-sm">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>